# Системные файлы
.bash_history
.lesshst
.viminfo
.viminfo.tmp
.viminfz.tmp
.vscode/

# Системные файлы Windows
NTUSER.DAT*
ntuser.*
*.regtrans-ms
*.blf
*.LOG1
*.LOG2

# Директории Windows
Documents/Мои видеозаписи/
Documents/мои рисунки/
Documents/Моя музыка/
Главное меню/
